<% layout('layouts/boilerplate') %> 


    <div class="card-static" >
        <div style="height: 300px; background-image: url(<%=subreddit.image.url%>); border-radius: 25px 25px 0px 0px;"></div>
        <div class="card-description">
            <h4 class=" "><%= subreddit.title %> </h4>
            <p style="opacity: .25;">By <%= subreddit.user.username %> </h5>
            <h6 style="margin: 0px 10px 0px 10px;"><%= subreddit.description %> </h6>
        </div>
    <div class="card-options">
        <% if (user && subreddit.user.equals(user)) { %>
            <a href="/subreddits/<%= subreddit._id %>/edit" class="btn btn-info">Edit</a>
            <form action="/subreddits/<%= subreddit._id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete</button>
            </form>     
         <% } %> 
        <a href="/subreddits/<%= subreddit._id %>/posts/new " class="btn btn-success">Create a Post</a>     
    </div>
      
    </div>
    <div class="container">
    <% for(let post of subreddit.posts){ %>
        <div class="card-show">
            <div class=" ">
            <h5 class=" "><%= post.title %> </h5>
            <strong><%= post.user.username %> </strong>
            <p class=" "><%= post.description %> </p>
            <% if (user && subreddit.user.equals(user)) { %>
                <a href="/subreddits/<%= subreddit._id %>/posts/<%= post._id %>/edit" class="btn btn-info">Edit Post</a>
                <form action="/subreddits/<%= subreddit._id %>/posts/<%= post._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete Post</button>
                </form>
            <% } %>
            <a href="/subreddits/<%= subreddit._id %>/posts/<%= post._id %>">Go to post</a>
            </div>
        </div>
    <% } %> 
</div>



