<% layout('layouts/boilerplate') %> 

<div class="container">
  <form action="/subreddits/<%= id %>/posts/<%= post._id %>?_method=PUT" method="POST">
      <div class="mb-3">
        <label for="title" class="form-lab">Title</label>
        <input type="text" name="post[title]" class="form-control" id="title" value="<%= post.title %> ">
      </div>
      <div class="mb-3">
        <label for="description" class="form-lab">Description</label>
        <textarea  class="form-control" name="post[description]" id="description" cols="5" rows="3"><%= post.description %> </textarea>
      </div>
      <div class="mb-3">
        <label class="form-lab" for="author">Author</label>
        <input type="text" name="post[author]" class="form-control" id="author" value="<%= post.author %> ">
      </div>
      <button type="submit" class="btn btn-info">Submit</button>
  </form>
</div>