<% layout('layouts/boilerplate') %> 

<div class="container">
    <div class="card-static" style="padding: 3% 3% 0% 3%; border-radius: 25px 25px 0px 0px; margin-bottom: 0;">
        <div id="nameTitle">
            <h2><%= post.title %></h2>
            <strong id="username"><%= post.user.username %></strong>
        </div>
        <p><%= post.description %></p>
        <% if(post.image){ %> 
        <div id="image-container">
            <img id="postImage" src="<%=post.image.url%>">
        </div>
        <% } %> 
    </div>
    <form id="comment-input" action="/subreddits/<%= id %>/posts/<%= post._id %>" method="POST" >
        <input id="comment-textarea" type="text" name="comment[description]" id="description" placeholder="Comment Something!">
        <button id="commentButton">Submit</button>
    </form>
    
    
    <% for(let comment of post.comments) { %>
        <div class="card-static" style="padding: 3%;">
            <div id="nameTitle">
                <h5><%= comment.user.username %></h1>
                <% if (user && comment.user.equals(user)) { %>
                 <form action="/subreddits/<%= id %>/posts/<%= post._id %>/<%= comment._id %>?_method=DELETE" method="POST">
                    <button id="delButton">&times;</button>
                </form>   
                <% } %>
            </div>
            
            <p><%= comment.description %>  </p>
        </div>
    <% } %>
</div>